@import "font";

* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border: none !important;
  outline: none !important;
}

body {
  padding: 0;
  margin: 0;
}

.btn-primary {
  padding: 10px 10px !important;
  background-color: #ff1949 !important;
  color: white !important;
  border: 1px solid #ff1949 !important;
  cursor: pointer;
  text-decoration: none;
  border-radius: 7px;
  transition: 0.5s !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #333 !important;
  border: 1px solid #333 !important;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
}

.notfound .notfound-404 {
  position: relative;
  height: 220px;
}

.notfound .notfound-404 h1 {
  font-family: "Kanit", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 186px;
  font-weight: 200;
  margin: 0px;
  background: linear-gradient(130deg, #ff1949, #ff1949);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.notfound p {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 25px;
}

.notfound-404 {
  animation: stabil 500ms, ease-in-out infinite, hereket 5s ease-in-out infinite;

  @keyframes stabil {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes hereket {
    0% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-10px);
      color: #f32354;
    }
    100% {
      transform: translateX(10px);
    }
  }
}

.notfound .link {
  font-family: "Kanit", sans-serif;
  color: #ff6f68;
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px dashed #ff6f68;
  border-radius: 2px;
}

.notfound-social > .link {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: #ff6f68;
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.notfound-social > .link:hover {
  color: #fff;
  background-color: #ff6f68;
  border-color: #ff6f68;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    position: relative;
    height: 168px;
  }

  .notfound .notfound-404 h1 {
    font-size: 142px;
  }

  .notfound h2 {
    font-size: 22px;
  }
}
